{% from "_includes/forms" import textField, lightswitchField %}

{{ textField({
    label: "Secret API Key"|t('commerce-stripe'),
    instructions: "Your Stripe API key."|t('commerce-stripe'),
    id: 'apiKey',
    class: 'ltr',
    name: 'apiKey',
    value: gateway.apiKey,
    errors: gateway.getErrors('apiKey')
}) }}

{{ textField({
    label: "Publishable API Key"|t('commerce-stripe'),
    instructions: "Your publishable Stripe API key."|t('commerce-stripe'),
    id: 'publishableKey',
    class: 'ltr',
    name: 'publishableKey',
    value: gateway.publishableKey,
    errors: gateway.getErrors('publishableKey')
}) }}

{{ textField({
    label: "Webhook signing secret"|t("commerce"),
    instructions: "Your webhook endpoint signing secret."|t("commerce"),
    id: 'signingSecret',
    name: 'signingSecret',
    class: 'ltr',
    value: gateway.signingSecret,
    errors: gateway.getErrors('signingSecret')
}) }}

{{ lightswitchField({
    label: "Enforce 3D Secure"|t('commerce-stripe'),
    instructions: "If card supports but does not require 3D Secure, this will ensure completing 3D Secure process",
    name: 'enforce3dSecure',
    on: gateway.enforce3dSecure,
    errors: gateway.getErrors('enforce3dSecure'),
}) }}

{{ lightswitchField({
    label: "Send Stripe's receipt email?"|t('commerce-stripe'),
    name: 'sendReceiptEmail',
    on: gateway.sendReceiptEmail,
    errors: gateway.getErrors('sendReceiptEmail'),
}) }}
