{% from "_includes/forms" import textField, lightswitchField %}

{{ textField({
    label: "API Key"|t('commerce'),
    instructions: "Your Stripe API key."|t('commerce'),
    id: 'apiKey',
    class: 'ltr',
    name: 'apiKey',
    value: gateway.apiKey,
    errors: gateway.getErrors('apiKey')
}) }}

{{ textField({
    label: "Publishable API Key"|t('commerce'),
    instructions: "Your publishable Stripe API key."|t('commerce'),
    id: 'publishableKey',
    class: 'ltr',
    name: 'publishableKey',
    value: gateway.publishableKey,
    errors: gateway.getErrors('publishableKey')
}) }}

{{ lightswitchField({
    label: "Enforce 3D Secure if card supports it?"|t('commerce'),
    name: 'enforce3dSecure',
    on: gateway.enforce3dSecure,
    errors: gateway.getErrors('enforce3dSecure'),
}) }}

{{ lightswitchField({
    label: "Send receipt email?"|t('commerce'),
    name: 'sendReceiptEmail',
    on: gateway.sendReceiptEmail,
    errors: gateway.getErrors('sendReceiptEmail'),
}) }}
