{% from "_includes/forms" import selectField %}

<div id="planList">

    {% if plan is defined %}
    {{ selectField({
        label: "Gateway plan"|t('app'),
        instructions: "Which gateway subscription plan do you want to use?"|t('commerce-stripe'),
        name: 'reference',
        id: 'plan',
        value: (plan is defined and plan ? plan.reference : null),
        options: plansList,
        errors: (plan is defined and plan ? plan.getErrors('reference') : null)
    }) }}
    {% endif %}
</div>
