{% import "_includes/forms" as forms %}

<fieldset class="subscription-options">
    <div class="trial">
        {% set trialOptions = [] %}

        {% set trialField = '<select name="trialDays">' %}
        {% for i in 0..30 %}
            {% set trialField = trialField~'<option value="'~i|hash~'">'~i~'</option>' %}
        {% endfor %}
        {% set trialField = trialField~'</select>' %}

        {{ 'Trial for'|t('commerce') }} {{ trialField|raw }} {{ 'days'|t('commerce') }}

    </div>
</fieldset>