{% import "_includes/forms" as forms %}

<fieldset class="subscription-switch">
    {{ forms.selectField ({
        label: 'Prorate'|t,
        name: 'prorate',
        options: [
            {'label': 'Prorate the switch cost'|t('commerce-stripe'), value: (targetPlan.uid ~ ':1')|hash},
            {'label': 'Do not prorate the switch cost'|t('commerce-stripe'), value: (targetPlan.uid ~ ':0')|hash}
        ]
    }) }}

    {% if plansOnSameCycle %}
        {{ forms.selectField ({
            label: 'Billing'|t,
            name: 'billImmediately',
            options: [
                {'label': 'Create an invoice immediately'|t('commerce-stripe'), value: (targetPlan.uid ~ ':1')|hash},
                {'label': 'Add to next invoice'|t('commerce-stripe'), value: (targetPlan.uid ~ ':0')|hash}
            ]
        }) }}
    {% else %}
        {{ forms.field ({
            label: 'Billing'|t,
        }, 'The switch will be billed immediately'|t('commerce-stripe')) }}
    {% endif %}
</fieldset>