{% from "_includes/forms" import textField, lightswitchField, autosuggestField %}

{{ autosuggestField({
    label: "Publishable API Key"|t('commerce-stripe'),
    instructions: "Your publishable Stripe API key."|t('commerce-stripe'),
    id: 'publishableKey',
    class: 'ltr',
    name: 'publishableKey',
    suggestEnvVars: true,
    value: gateway.publishableKey,
    errors: gateway.getErrors('publishableKey')
}) }}

{{ autosuggestField({
    label: "Secret API Key"|t('commerce-stripe'),
    instructions: "Your Stripe API key."|t('commerce-stripe'),
    id: 'apiKey',
    class: 'ltr',
    name: 'apiKey',
    suggestEnvVars: true,
    value: gateway.apiKey,
    errors: gateway.getErrors('apiKey')
}) }}

{{ autosuggestField({
    label: "Webhook Signing Secret"|t("commerce"),
    instructions: "Your webhook endpoint signing secret."|t("commerce"),
    id: 'signingSecret',
    name: 'signingSecret',
    class: 'ltr',
    suggestEnvVars: true,
    value: gateway.signingSecret,
    errors: gateway.getErrors('signingSecret')
}) }}

{{ lightswitchField({
    label: "Send Stripe's receipt email?"|t('commerce-stripe'),
    name: 'sendReceiptEmail',
    on: gateway.sendReceiptEmail,
    errors: gateway.getErrors('sendReceiptEmail'),
}) }}
