name: ci
on:
  workflow_dispatch:
  push:
    branches:
      - develop
      - '3.0'
  pull_request:
    branches:
      - develop
      - '3.0'
concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true
jobs:
  ecs:
    name: ECS
    uses: craftcms/.github/.github/workflows/ecs.yml@v1
    with:
      php_version: '8.0'
  phpstan:
    name: PHPStan
    uses: craftcms/.github/.github/workflows/phpstan.yml@v1
    with:
      php_version: '8.0'
  notify-slack:
    name: Notify Slack
    needs: [ ecs, phpstan ]
    if: ${{ always() }}
    uses: craftcms/.github/.github/workflows/notify-slack.yml@v1
    with:
      success: ${{ needs.ecs.result == 'success' && needs.phpstan.result == 'success' }}
      failure_text_prefix: <!subteam^S01CWPYH9D5>
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}
      slack_webhook_url: ${{ secrets.SLACK_COMMERCE_WEBHOOK_URL }}